<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
        </style>
</head>
<body>
    <h1>Students List</h1>
    <a href="/">Home</a>
    <a href="/students/add">Add Student</a>
    <br>
  <!-- Sorting buttons for Name and ID -->
  <a href="/students?sort=sid&order=asc">Sort by ID Ascending</a>
  <a href="/students?sort=sid&order=desc">Sort by ID Descending</a>
  <a href="/students?sort=name&order=asc">Sort by Name Ascending</a>
  <a href="/students?sort=name&order=desc">Sort by Name Descending</a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% students.forEach(function(student) { %>
                <tr>
                    <td><%= student.sid %></td>
                    <td><%= student.name %></td>
                    <td><%= student.age %></td>
                    <td><a href="/students/edit/<%= student.sid %>">Update</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
